.condition {
  font-size: 1rem;
}

.description {
  font-size: 1rem;
}

.center {
  text-align: center;
}

.available {
  color: #248d24;
}
.not-available {
  color: #961919;
}

.text {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
